body {
	background: #fff;
	color: #000;
	font-family: sans-serif;
	font-size: 12pt;
}

header,footer,main {
    margin: auto;
    width: 11.45in;
}

header {
	text-align: center;
}

footer {
	font-size: 10pt;
	color: #888;
}

a {
	color: #00a;
}

footer a {
	color: #55a;
}

img {
	width: 100%;
}

@media(prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #ddd;
	}
	a {
		color: #59d;
	}
	footer a {
		color: #7be;
	}
	img {
		opacity: 0;
	}
	div#svg {
		background: url(new_time-dark.svg) no-repeat;
		background-size: cover;
	}

}

